acme_store:
    resource: "@AcmeStoreBundle/Controller/"
    type:     annotation
    prefix:   /

acme_kontakt:
    resource: "@AcmeKontaktBundle/Controller/"
    type:     annotation
    prefix:   /

app:
    resource: "@AppBundle/Controller/"
    type:     annotation

hello:
    path:  /ksiazka
    defaults: { _controller: AcmeStoreBundle:Store:index }

zakladka2:
    path:  /telefony
    defaults: { _controller: AcmeKontaktBundle:Kontakt:index }

zakladka3:
    path:  /wszystko
    defaults: { _controller: AcmeAllBundle:All:index }

zakladka4:
    path:  /panel
    defaults: { _controller: AcmeAllBundle:All:index }